@charset "UTF-8";
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

a {
  text-decoration: none;
  color: initial;
}

/* Contact Modal */
#modal_bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(196, 196, 196, 0.4);
}

.modal {
  position: relative;
  left: 0;
  right: 0;
  top: 3rem;
  bottom: 3rem;
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}
.modal header {
  justify-content: space-between;
  width: 100%;
}
.modal header img {
  position: absolute;
  right: 2rem;
  cursor: pointer;
}
.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
  flex-wrap: wrap;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form label {
  color: #312E2E;
  font-size: 36px;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
form input, form textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 30px;
}

#message {
  height: 170px;
}

/* LIGHTBOX */
/* fond de la lightbox */
.lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}

/* contenu de la livebox */
.lightbox-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  margin-top: 50px;
}

/* bouton fermer */
.close-lightbox {
  color: #901c1c;
  position: absolute;
  top: 10px;
  right: 120px;
  font-size: 40px;
}

.close-lightbox:hover,
.close-lightbox:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.figure_lightbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.figure_lightbox figcaption {
  width: 100%;
  text-align: left;
  margin-top: 8px;
  color: #901c1c;
}

.mySlides {
  width: 800px;
  margin: auto;
}

.mySlides img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.mySlides video {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

/* Flèches */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: #901c1c;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
}

/* Positionne la flèche next */
.next {
  right: 120px;
}

/* Positionne la flèche prev */
.prev {
  left: 120px;
}

/* Modifie la couleur des boutons au survol */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  line-height: 0.5rem;
}
.photographer_section aside {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
}
.photographer_section img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  object-fit: cover;
  filter: drop-shadow(-1px 6px 8px #525252);
}
.photographer_section h2 {
  color: #d3573c;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px;
  text-align: center;
  margin-bottom: 0;
}
.photographer_section h3 {
  color: #901c1c;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
}
.photographer_section p {
  font-size: 12px;
}
.photographer_section .rate {
  color: #525252;
}

/* Photograph header */
#photograph-header {
  position: relative;
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-left: 2rem;
}
#photograph-header img {
  position: absolute;
  top: 3rem;
  right: 2rem;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  object-fit: cover;
}

#photograph-introduction h2 {
  color: #d3573c;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px;
  margin-bottom: 0;
}
#photograph-introduction p {
  font-size: 18px;
  color: #525252;
}

#photograph-introduction h3,
#photograph-medias-section h3,
#photograph-medias-section p {
  color: #901c1c;
  font-size: 24px;
  font-weight: 400;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

/* photograph Media */
#photograph-medias-section {
  margin-top: 20px;
  margin: 100px;
}

#photograph-medias-section-sortBy {
  display: flex;
  align-items: center;
}
#photograph-medias-section-sortBy label {
  font-weight: 700;
  font-size: 18px;
}

#sortBy {
  margin-left: 1rem;
  font-weight: 700;
  font-size: 18px;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

#photograph-medias {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-top: 80px;
}
#photograph-medias img {
  height: 300px;
  width: 350px;
  object-fit: cover;
  filter: drop-shadow(-1px 6px 8px #525252);
  background: #C4C4C4;
  border-radius: 5px;
}
#photograph-medias video {
  height: 300px;
  width: 350px;
  object-fit: cover;
  filter: drop-shadow(-1px 6px 8px #525252);
  background: #C4C4C4;
  border-radius: 5px;
}

figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901c1c;
}
figcaption i {
  cursor: pointer;
}

#all-likes-and-rate {
  position: fixed;
  bottom: 0;
  right: 10%;
  background-color: #DB8876;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 700;
  z-index: 500;
}

/*# sourceMappingURL=style.css.map */
